/**
* ----------------------------------------------
* TABLE OF CONTENTS
* ----------------------------------------------
*
* 
[ DEFULT INDEX NUMBER ]
1. Header
2. Feature Section
3. App Feature Section
4. Video Section
5. ScrieenShot Section
6. Price Section
7. Download Section
8. Testimonial Section
9. Newsleater Section
10. Contract Us
11. MAP Section
12. Footer Section
13. Color Switcher 

/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
$white:                 #ffffff;
$black:                 #000000;
$theme-color:           #3498DB;
$title-text-color:      #595959;
$p-text-color:          #616161;
$primary:               #ED5153;
$color1:                #fc5f45;
$color2:                #eb5e7b;
$color3:                #55dfaf;
$color4:                #b870ea;
$color5:                #272727;
$color6:                #23c181;
$star-act-color:        #ffd700;
$background-color1:     #f8f8f9;
$background-color2:     #020202;

[Theme color]
$clr-1:   #3498DB;
$clr-2:   #21D367;
$clr-3:   #FF7E01;
$clr-4:   #21b8af;

 */
/**
 * ----------------------------------------------
 * TYPOGRAPHY
 * ----------------------------------------------
 *
 * 
[Typography]
    Font 1: Rosario Font;
    Font 2: Roboto Font;

  [ Other Typography style are same ]

  

 -----------------------------------------*/
