/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
*/
// Black & White
$white:                 #ffffff;
$black:                 #000000;

// Main Template colors's
$theme-color:           #f0972d;
$primary:               #FF6192;
$secondary:             #FF6192;

// Text color's
$title-text-color:      #595959;
$p-text-color:          #757575;
$link-text:             #616161;

// background Color's
$background-color1:     #f8f8f9;
$background-color2:     #020202;

// Extra Uses color's
$color1:                #fc5f45;
$color2:                #eb5e7b;
$color3:                #55dfaf;
$color4:                #b870ea;
$color5:                #272727;
$color6:                #23c181;