/**
 * ----------------------------------------------
 * SIMPLE RESET
 * ----------------------------------------------
 */
*{
    @include font($GoogleSans,400,16px);
    @include box-sizing(border-box);
    margin: 0;
    padding: 0;
}
body {
    background-color: $white;
    @include scrollbars(.5em,  lighten($theme-color,20%));
}

/**
 * ----------------------------------------------
 * CUSTOM CLASS
 * ----------------------------------------------
 */
 h1,h2,h3,h4,h5,h6,p{
    margin: 0;
 }
 .section-heading{
    .title{
       
        &:before{
                 
        }
    }
}
.page-wrapper{
    position: relative;
}
 // .container{
 //    @include media-min-max(1920px, 3000px){
 //        max-width: 1600px !important;
 //     }
 // }

 @media (min-width: 1920px) {
  .container {
      width: 1600px; 
  }
}
     
.fix-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    @include media-max(500px){
        padding: 0 3%;
    }
    @include media-min-max(500px,800px){
        padding: 0 3%;
    }
}
.white-space{
    height: 130px;
    width: 100%;
    @include media-min(1370px){
        height: 160px;
    }
    @include media-max(500px){
        height: 80px;
    }
    @include media-max(400px) {
        height: 50px;
    }
}
.fix{
    margin: 0px;
    padding: 0px;
}
.p-none{
    padding: 0px;
}
.m-none{
    margin: 0px;
}
.clear{
    clear: both;
}
/*! ===== input field style =====*/
.input-field{ 
    border: 1px solid $p-text-color;
    padding: 12px;
    border-radius: 5px;
    @include font($GoogleSans,400,14px);
    &:hover,&:focus{
        &::placeholder { 
            color: $p-text-color;
            opacity: 1;
            @include transition(all .2s ease-in-out);
        }
    }
}